<div class="home-container">
  <div class="image-container">
    <img src="assets/images/TroopPhoto.jpg" />
  </div>

  <div class="text-container">
    <h2>SCOUT ME IN</h2>
    <p>
      Troop 866G is a Scouts BSA Girl Troop located in Imperial Beach,
      California.
    </p>
    <p>
      As a group of motivated girls and young women, we live the values of
      Scouting and strive for excellence in all we do.
    </p>
    <ul>
      <li>
        There are over 135 merit badges that Scouts can earn, including Camping,
        Emergency Preparedness, Journaling, and Environmental Science.
      </li>
      <li>
        There are 7 ranks that Scouts can advance through, including the
        prestigious Eagle Scout rank.
      </li>
      <li>
        We work on attaining these achievements during weekly meetings and
        monthly outdoor events.
      </li>
    </ul>
    <h2>Interested in joining us?</h2>
    <p>
      We meet every Monday at 6:15PM at St. James Lutheran Church, 866 Imperial
      Beach Blvd.
    </p>
  </div>
</div>
